/* Colors & Fonts */
:root {
    /* Primary */
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
    /* Fonts */
    --Headings: 'Poppins', sans-serif;
    --Body: 'Open Sans', sans-serif;
}

/* Background */
body {
    background-color: var(--Violet);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: whitesmoke;
    font-family: var(--Body);
    padding: 8%;
}

/* Background Media Query */
@media (min-width: 56rem) {
    body {
        background-image: url(../images/bg-desktop.svg);
        background-size: auto 100%;
        padding: 0;
    }
}

/* Header */
.logoImg {
    max-width: 35vw;
}

/* Header Media Query */
@media (min-width: 56rem) {
    header {
        padding: 5% 10%;
    }

    .logoImg {
        max-width: 14vw;
    }
}


/* Content */
.container {
    /* min-height: 100vh; */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.heroImg {
    padding: 15% 0;
}

h1 {
    font-family: var(--Headings);
    font-size: 2.5rem;
    font-weight: 600;
}

.right_content p {
    font-size: 1.6rem;
    padding: 5% 2.5%;
}

button {
    font-family: var(--Headings);
    font-weight: 400;
    color: var(--Violet);
    font-size: 1.3rem;
    min-height: 4rem;
    min-width: 60%;
    border-radius: 2rem;
    border-style: none;
    cursor: pointer;
    box-shadow: 1rem 1rem 4rem -1rem rgba(0, 0, 0, 0.75);
}

button:active {
    color: whitesmoke;
    background-color: var(--SoftMagenta);
}

/* Content Media Query */
@media (min-width: 56rem) {
    .container {
        text-align: left;
    }

    .content {
        display: flex;
        padding: 0 8% 0 10%;
        gap: 4%;
    }

    .left_content {
        flex-basis: 60%;
    }

    .heroImg {
        padding: 0;
    }

    .right_content {
        flex-basis: 40%;
        padding: 4% 0;
    }

    h1 {
        font-size: 3.5rem;
    }

   .right_content p {
        padding: 5% 0;
    }

    button {
        font-size: 1.8rem;
        border-radius: 4rem;
        min-height: 6rem;
        min-width: 40%;
    }

}

/* Footer */
footer {
    padding-top: 15%;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

footer > p {
    display: block;
}

.icons {
    padding: 0 3%;
}

.icons:active {
    filter: invert(68%) sepia(86%) saturate(1390%) hue-rotate(258deg) brightness(106%) contrast(82%);
}

.attribution {
    font-size: 1.1rem;
}

.attribution a {
    color: wheat;
}

/* Footer Media Query */
@media (min-width: 56rem) {
    footer {
        text-align: end;
        padding-top: 5%;
        padding-right: 10%;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1%;
    }

    .footer_icons {
        text-align: left;
        flex-basis: 16%;
    }
}
